div {
	margin: 0;
	padding: 0;
	position: absolute;
}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
div#toolbar {
	top: 0;
	width: 100%;
	height: 10%;
	background-color: darkslateblue;
}
canvas#preview {
	width: 400px;
	height: 200px;
	border: solid 3px darkgray;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: white;
}
div#blocks {
	width: calc(20% - 20px);
	height: 90%;
	background-color: slateblue;
	top: 10%;
	left: 0;
	padding-left: 20px;
	overflow-y: auto !important;
}
div#space::-webkit-scrollbar, div#blocks::-webkit-scrollbar {
	width: 10px;
}
div#space::-webkit-scrollbar-track, div#blocks::-webkit-scrollbar-track {
	background-color: transparent;
}
div#space::-webkit-scrollbar-thumb {
	background-color: gray;
}
div#blocks::-webkit-scrollbar-thumb {
	background-color: darkslateblue;
}
div#space::-webkit-scrollbar-thumb:hover, div#blocks::-webkit-scrollbar-thumb:hover {
	background-color: black;
}
div#space {
	width: 80%;
	height: 90%;
	background-color: lightgray;
	top: 10%;
	left: 20%;
}
div.block {
	font-family: sans-serif;
	font-size: 15px;
	color: white;
	border-radius: 1px;
	border: solid 1px black;
	padding: 5px;
	margin: 5px;
	user-select: none;
	position: static;
	cursor: move;
}
div.block.draw {
	background-color: darkred;
}
div.block.save-load {
	background-color: rebeccapurple;
}
div.block.event {
	background-color: goldenrod;
}
div.block.flow {
	background-color: royalblue;
}
div.block.canvas {
	background-color: olivedrab;
}
button.selectButton {
	position: relative;
	right: 0;
	vertical-align: center;
	background-color: blue;
	color: white;
	border: hidden;
	border-radius: 5px;
	padding: 5px;
	font-family: 'Work Sans', sans-serif;
}
button.selectButton:hover {
	background-color: lightblue;
}
div.block input, div.block select {
	background-color: powderblue;
	border: hidden;
	border-radius: 5px;
}
div.block input[type=number] {
	width: 25px;
}
div.block.selectedBlock {
	animation: selectedBlockPulse 1.5s infinite linear;
	border-width: 2px;
}
@keyframes selectedBlockPulse {
	0%, 100% {
		border-color: yellow;
	}
	50% {
		border-color: black;
	}
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
span#unsavedChanges {
	position: fixed;
	bottom: 2.5vh;
	left: calc(20vw + 2.5vh);
}